In [12]:
import pandas as pd
import numpy as np

# Load the TSV file into a DataFrame
file_path = 'chipotle.tsv'
chipotle_df = pd.read_csv(file_path, sep='\t')

# Save the DataFrame as a CSV file
output_csv_file = 'chipotle.csv'
chipotle_df.to_csv(output_csv_file, index=False)

print("Conversion completed. CSV file saved successfully.")

Conversion completed. CSV file saved successfully.


**1. Missing Values:
Question: Check for missing values in each column (Order ID, Quantity, Item Name, Choice Description, Item Price). How should missing values be handled?**

In [13]:
# Check for missing values in each column
missing_values = chipotle_df.isnull().sum()
print("Missing values in each column:")
print(missing_values)

Missing values in each column:
order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [14]:
# Replace missing values in the 'choice_description' column with 'No description'
chipotle_df['choice_description'].fillna('No description', inplace=True)

In [15]:
# Check for missing values in each column
missing_values = chipotle_df.isnull().sum()
print("After removing missing values in each column:")
print(missing_values)

After removing missing values in each column:
order_id              0
quantity              0
item_name             0
choice_description    0
item_price            0
dtype: int64

**2. Data Types:
Question: Verify the data types of each column. Do they align with their expected types, and should any adjustments be made?**

In [16]:
# Check the data types of each column
data_types = chipotle_df.dtypes
print(data_types)

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [17]:
# Remove the dollar sign ('$') and convert to floats
chipotle_df['item_price'] = chipotle_df['item_price'].str.replace('$', '').astype(float)

# Verify the conversion
print(chipotle_df.dtypes)

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

<ipython-input-17-f9db79de38e3>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipotle_df['item_price'] = chipotle_df['item_price'].str.replace('$', '').astype(float)

**3. Duplicated Entries:
Question: Identify and handle duplicated entries in the dataset. How might duplicates impact analysis, and what is the appropriate action?**

In [18]:
# Identify duplicated entries
all_duplicated_rows = chipotle_df[chipotle_df.duplicated()]

# Check if there are any duplicated entries
if not all_duplicated_rows.empty:
    print("Duplicated entries found. Here are the duplicated rows:")
    print(all_duplicated_rows)
else:
    print("No duplicated entries found.")

Duplicated entries found. Here are the duplicated rows:
      order_id  quantity                            item_name  \
238        103         1                        Steak Burrito
248        108         1                          Canned Soda
297        129         1                        Steak Burrito
381        165         1                    Canned Soft Drink
484        205         1                         Chicken Bowl
567        233         1                    Canned Soft Drink
617        254         1                                Chips
684        282         1                    Canned Soft Drink
773        319         1                         Chicken Bowl
908        376         1                        Steak Burrito
924        381         1                   Chicken Soft Tacos
1003       412         1                        Bottled Water
1117       462         1                      Chicken Burrito
1203       491         1                      Chicken Burrito
1245       507         1                    Canned Soft Drink
1381       561         1                    Canned Soft Drink
1410       573         1                        Bottled Water
1420       576         1                        Barbacoa Bowl
1421       576         1                  Barbacoa Salad Bowl
1502       610         1                      Chicken Burrito
1534       624         1  Chips and Tomatillo-Red Chili Salsa
1548       628         1                  Chips and Guacamole
1612       651         1                                 Izze
1791       724         1                    Canned Soft Drink
1792       724         1                    Canned Soft Drink
2078       838         1                   Chicken Soft Tacos
2127       856         1                      Chicken Burrito
2307       926         1                         Chicken Bowl
2318       926         1                         Chicken Bowl
2362       940         1                    Canned Soft Drink
2448       972         1                         Chicken Bowl
2553      1011         1                    Canned Soft Drink
2554      1011         1                    Canned Soft Drink
2560      1013         1                  Chips and Guacamole
2576      1020         1  Chips and Tomatillo Red Chili Salsa
2662      1057         1                   Chicken Soft Tacos
2708      1074         1                                Chips
2717      1078         1                         Chicken Bowl
2833      1125         1                      Chicken Burrito
2881      1144         1                        Bottled Water
2973      1182         1                         Chicken Bowl
2977      1184         1                           Steak Bowl
3121      1244         1                  Chips and Guacamole
3430      1377         1  Chips and Tomatillo Red Chili Salsa
3637      1454         1                   Chicken Soft Tacos
3716      1484         1                          Canned Soda
3764      1507         1                      Chicken Burrito
3829      1534         1                      Chicken Burrito
3924      1574         1                        Bottled Water
4112      1647         1                         Chicken Bowl
4155      1660         1                  Chips and Guacamole
4236      1691         1                         Chicken Bowl
4266      1701         1                                Chips
4372      1745         1                  Chips and Guacamole
4463      1778         1                    Canned Soft Drink
4479      1785         1                        Bottled Water
4544      1806         1                        Bottled Water
4570      1817         1                        Bottled Water
4603      1827         1                     Barbacoa Burrito

                                     choice_description  item_price
238   [Tomatillo Red Chili Salsa, [Rice, Black Beans...       11.75
248                                      [Mountain Dew]        1.09
297   [Tomatillo Green Chili Salsa, [Rice, Cheese, G...       11.75
381                                              [Coke]        1.25
484   [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...        8.75
567                                         [Diet Coke]        1.25
617                                      No description        2.15
684                                              [Coke]        1.25
773   [Tomatillo-Green Chili Salsa (Medium), Black B...        8.49
908   [Roasted Chili Corn Salsa (Medium), [Rice, Faj...        8.99
924           [Tomatillo-Red Chili Salsa (Hot), Cheese]        8.49
1003                                     No description        1.50
1117  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...       11.25
1203  [Fresh Tomato Salsa, [Cheese, Sour Cream, Lett...        8.75
1245                                         [Lemonade]        1.25
1381                                             [Coke]        1.25
1410                                     No description        1.50
1420                         [Roasted Chili Corn Salsa]        9.25
1421                         [Roasted Chili Corn Salsa]        9.39
1502  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...        8.75
1534                                     No description        2.39
1548                                     No description        4.45
1612                                       [Blackberry]        3.39
1791                                             [Coke]        1.25
1792                                             [Coke]        1.25
2078  [Fresh Tomato Salsa, [Cheese, Sour Cream, Lett...        8.75
2127  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...       11.25
2307  [Roasted Chili Corn Salsa, [Fajita Vegetables,...        8.75
2318  [Roasted Chili Corn Salsa, [Fajita Vegetables,...        8.75
2362                                             [Coke]        1.25
2448  [Tomatillo Red Chili Salsa, [Rice, Black Beans...        8.75
2553                                             [Coke]        1.25
2554                                             [Coke]        1.25
2560                                     No description        4.45
2576                                     No description        2.95
2662  [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.25
2708                                     No description        2.15
2717  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...       11.25
2833      [Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]        8.75
2881                                     No description        1.50
2973  [Tomatillo-Red Chili Salsa (Hot), [Rice, Black...        8.49
2977  [Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...        9.25
3121                                     No description        4.45
3430                                     No description        2.95
3637                         [Fresh Tomato Salsa, Rice]        8.75
3716                                       [Dr. Pepper]        1.09
3764  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...        8.75
3829  [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...        8.75
3924                                     No description        1.50
4112  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
4155                                     No description        4.45
4236                                       [White Rice]        8.50
4266                                     No description        2.15
4372                                     No description        4.45
4463                                         [Lemonade]        1.25
4479                                     No description        1.50
4544                                     No description        1.50
4570                                     No description        1.50
4603                      [Tomatillo Green Chili Salsa]        9.25

**4. Quantity and Item Price:
Question: Examine the Quantity and Item Price columns. Are there any inconsistencies or anomalies that need correction?**

In [19]:
# Check unique values and their frequencies in the Quantity column
quantity_counts = chipotle_df['quantity'].value_counts()

# Display the unique values and their frequencies
print("Quantity Column:")
print(quantity_counts)

Quantity Column:
1     4355
2      224
3       28
4       10
5        1
15       1
7        1
8        1
10       1
Name: quantity, dtype: int64

In [20]:
# Check unique values and their frequencies in the Item Price column
item_price_counts = chipotle_df['item_price'].value_counts()

# Display the unique values and their frequencies
print("\nItem Price Column:")
print(item_price_counts)

Item Price Column:
8.75     730
11.25    521
9.25     398
4.45     349
8.49     311
        ...
13.35      1
7.50       1
4.36       1
11.80      1
11.49      1
Name: item_price, Length: 78, dtype: int64

**5. Choice Description:
Question: Analyze the Choice Description column. How should choices be handled, especially when there are multiple descriptions for a single item?**

In [21]:
# Check for missing values in the Choice Description column
missing_values_choice_description = chipotle_df['choice_description'].isnull().sum()

# Display the number of missing values
print("Number of missing values in Choice Description column:", missing_values_choice_description)

Number of missing values in Choice Description column: 0

In [22]:
# Check unique values and their frequencies in the Choice Description column
choice_description_counts = chipotle_df['choice_description'].value_counts()

# Display the unique values and their frequencies
print("\nChoice Description Column:")
print(choice_description_counts)

Choice Description Column:
No description                                                                                                                                   1246
[Diet Coke]                                                                                                                                       134
[Coke]                                                                                                                                            123
[Sprite]                                                                                                                                           77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                                             42
                                                                                                                                                 ...
[Fresh Tomato Salsa (Mild), [Pinto Beans, Black Beans, Rice, Cheese, Sour Cream, Lettuce]]                                                          1
[[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Pinto Beans, Cheese, Sour Cream, Lettuce]]       1
[Fresh Tomato (Mild), [Guacamole, Rice, Black Beans]]                                                                                               1
[[Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Cheese, Lettuce]]                                     1
[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Guacamole]]                                                                    1
Name: choice_description, Length: 1044, dtype: int64

**6. Handling Special Characters:
Question: Check for special characters in text-based columns (e.g., Item Name, Choice Description). How can these be addressed for consistency?**

In [23]:
import random
import re

# Define a function to check for special characters in a random subset of entries
def check_special_characters_random(column):
    special_characters = r'[^\w\s]'
    # Select a random subset of entries
    random_entries = random.sample(column.tolist(), min(len(column), 10))
    for entry in random_entries:
        if re.search(special_characters, entry):
            print(f"Special character found in entry: {entry}")

# Check for special characters in a random subset of Item Name column
print("Checking for special characters in a random subset of Item Name column:")
check_special_characters_random(chipotle_df['item_name'])

# Check for special characters in a random subset of Choice Description column
print("\nChecking for special characters in a random subset of Choice Description column:")
check_special_characters_random(chipotle_df['choice_description'])

Checking for special characters in a random subset of Item Name column:

Checking for special characters in a random subset of Choice Description column:
Special character found in entry: [Fresh Tomato Salsa, [Rice, Fajita Vegetables, Pinto Beans, Cheese, Lettuce, Guacamole]]
Special character found in entry: [Fresh Tomato Salsa, Rice]
Special character found in entry: [Roasted Chili Corn Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole]]
Special character found in entry: [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice, Sour Cream, Cheese]]
Special character found in entry: [Tomatillo-Green Chili Salsa (Medium), [Rice, Cheese, Sour Cream, Lettuce]]
Special character found in entry: [Fresh Tomato Salsa (Mild), [Rice, Fajita Veggies, Guacamole, Lettuce]]
Special character found in entry: [Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese]]
Special character found in entry: [Fresh Tomato Salsa (Mild), [Sour Cream, Lettuce, Cheese, Black Beans, Rice]]
Special character found in entry: [Tomatillo Green Chili Salsa, [Rice, Pinto Beans, Sour Cream, Lettuce]]

**7. Order Id Integrity:
Question: Cross-reference the Order ID column for integrity. Are there any irregularities or patterns that need validation?**

In [24]:
# Check for unique order IDs
unique_order_ids = chipotle_df['order_id'].nunique()
total_orders = chipotle_df.shape[0]

if unique_order_ids == total_orders:
    print("All order IDs are unique.")
else:
    print("Duplicate order IDs found.")

Duplicate order IDs found.

In [25]:
# Find duplicate order IDs
duplicate_order_ids = chipotle_df[chipotle_df.duplicated(subset=['order_id'], keep=False)]
print("Duplicate order IDs found:")
print(duplicate_order_ids['order_id'])

Duplicate order IDs found:
0          1
1          1
2          1
3          1
5          3
        ...
4617    1833
4618    1833
4619    1834
4620    1834
4621    1834
Name: order_id, Length: 4494, dtype: int64

In [26]:
# Remove duplicate entries based on order_id
unique_orders_df = chipotle_df.drop_duplicates(subset='order_id')

# Check the shape of the new DataFrame to verify duplicates were removed
print("Shape of DataFrame after removing duplicates:", unique_orders_df.shape)

Shape of DataFrame after removing duplicates: (1834, 5)

**8. Item Name Standardization:
Question: Standardize the Item Name column. Are there variations that can be unified for better analysis?**

In [27]:
# Step 1: Identify Variations (if any)
# You can use value_counts() to see the variations in the Item Name column
print(chipotle_df['item_name'].value_counts())

# Step 2: Create a Mapping Dictionary
item_name_mapping = {
    'Bowl - Chicken': 'Chicken Bowl',
    'Bowl - Steak': 'Steak Bowl',
    # Add more mappings as needed
}

# Step 3: Apply Mapping
chipotle_df['item_name'] = chipotle_df['item_name'].replace(item_name_mapping)

# Step 4: Verify Standardization
print(chipotle_df['item_name'].value_counts())

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: item_name, dtype: int64
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: item_name, dtype: int64

**9. Quantity and Price Relationships:
Question: Investigate the relationships between Quantity and Item Price. Are there cases where adjustments need to be made for accurate analysis?**

In [28]:

# Step 1: Calculate the total price for each order
chipotle_df['total_price'] = chipotle_df['quantity'] * chipotle_df['item_price']

# Step 2: Compare the calculated total price with the actual price in the dataset
price_comparison = chipotle_df[['quantity', 'item_price', 'total_price']]
print(price_comparison.head(10))  # Display a sample of the comparison

# Step 3: Identify discrepancies or inconsistencies
# You can visually inspect the comparison and look for any significant differences.

# Step 4: Take appropriate actions based on the findings
# If there are discrepancies, investigate further to understand the reasons behind them
# Make adjustments or corrections as necessary to ensure data integrity and accuracy.

   quantity  item_price  total_price
0         1        2.39         2.39
1         1        3.39         3.39
2         1        3.39         3.39
3         1        2.39         2.39
4         2       16.98        33.96
5         1       10.98        10.98
6         1        1.69         1.69
7         1       11.75        11.75
8         1        9.25         9.25
9         1        9.25         9.25

**10. Data Integrity Check:
Question: Perform a data integrity check by ensuring that quantities and prices align with the corresponding items and descriptions.**

In [29]:
print(chipotle_df['item_price'].dtype)

float64

In [30]:
print(chipotle_df.dtypes)

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
total_price           float64
dtype: object

**11. Converting to CSV:
Optional Question: If needed, convert the cleaned dataset to a CSV file using the to_csv function with sep=','.**

In [31]:
# Define the file path for the CSV file
cleaned_csv_file = 'cleaned_chipotle.csv'

# Convert the cleaned dataset to a CSV file
chipotle_df.to_csv(cleaned_csv_file, sep=',', index=False)

print("CSV file saved successfully:", cleaned_csv_file)

CSV file saved successfully: cleaned_chipotle.csv

In [32]:
import os

# Get the current working directory
current_directory = os.getcwd()

# Define the file name
cleaned_csv_file_name = 'cleaned_chipotle.csv'

# Construct the full file path
cleaned_csv_file_path = os.path.join(current_directory, cleaned_csv_file_name)

print("File path for saving the cleaned CSV file:", cleaned_csv_file_path)

File path for saving the cleaned CSV file: /content/cleaned_chipotle.csv

In [33]:
import pandas as pd

# Load the cleaned Chipotle dataset
chipotle_df = pd.read_csv('cleaned_chipotle.csv')

# Option 1: Label Encoding
# You can use LabelEncoder from scikit-learn
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
chipotle_df['item_name_encoded'] = label_encoder.fit_transform(chipotle_df['item_name'])

# Option 2: One-Hot Encoding
# You can use pandas get_dummies() function
item_name_dummies = pd.get_dummies(chipotle_df['item_name'], prefix='item')

# Concatenate the one-hot encoded columns with the original dataframe
chipotle_df = pd.concat([chipotle_df, item_name_dummies], axis=1)

# Now, you have the original dataframe with the item name column encoded or one-hot encoded,
# depending on the method you chose.

# You can drop the original 'item_name' column if you don't need it anymore
chipotle_df.drop('item_name', axis=1, inplace=True)

# Save the transformed dataset to a new CSV file
transformed_file_path = 'transformed_chipotle.csv'
chipotle_df.to_csv(transformed_file_path, index=False)

print("Transformed dataset saved to:", transformed_file_path)

Transformed dataset saved to: transformed_chipotle.csv

**13. Consistent Quantity and Price Units:
Question: Ensure consistency in units for Quantity and Item Price. Should any conversions or adjustments be made for uniform analysis?**

In [34]:


# Load the cleaned dataset
cleaned_chipotle_file = 'transformed_chipotle.csv'
cleaned_chipotle_df = pd.read_csv(cleaned_chipotle_file)

# Check the data types and units of Quantity and Item Price columns
print("Data Types of Quantity and Item Price columns:")
print(cleaned_chipotle_df[['quantity', 'item_price']].dtypes)

# Examine unique units of Quantity column
print("\nUnique Units in Quantity column:")
print(cleaned_chipotle_df['quantity'].unique())

# Examine unique units of Item Price column
print("\nUnique Units in Item Price column:")
print(cleaned_chipotle_df['item_price'].unique())

# Further analysis and conversions as necessary to ensure consistency in units
# For example, converting different units to a common unit (e.g., pieces) or normalizing item prices

# Save the transformed dataset to a new CSV file
transformed_chipotle_file = 'transformed_chipotle_consistent_units.csv'
cleaned_chipotle_df.to_csv(transformed_chipotle_file, index=False)

print(f"\nTransformed dataset saved to: {transformed_chipotle_file}")

Data Types of Quantity and Item Price columns:
quantity        int64
item_price    float64
dtype: object

Unique Units in Quantity column:
[ 1  2  3  4  5 15  7  8 10]

Unique Units in Item Price column:
[ 2.39  3.39 16.98 10.98  1.69 11.75  9.25  4.45  8.75 11.25  8.49  2.18
  8.99  1.09  2.95  2.15  3.99 22.5  11.48 17.98 17.5   4.3   5.9   1.25
 23.78  6.49 11.08  1.5  22.16 32.94 22.2  10.58  2.5  23.5   7.4  18.5
  3.    6.78 11.89  9.39  4.    3.75  8.69  2.29  8.9   3.27  3.89  8.19
 35.   27.75 11.8   6.   26.25 21.96  4.36  7.5   4.78 13.35  6.45  5.07
 22.96  7.17  7.98  4.5  26.07 12.98 35.25 44.25 10.5  33.75 16.38 13.52
  5.   15.    8.5  17.8   1.99 11.49]

Transformed dataset saved to: transformed_chipotle_consistent_units.csv

In [35]:
import pandas as pd
cleaned_chipotle_df = pd.read_csv('cleaned_chipotle.csv')

**1.Quantity of Each Item**

In [36]:
# 1. Quantity of each item
quantity_per_item = cleaned_chipotle_df.groupby('item_name')['quantity'].sum()
print("Quantity of each item:")
print(quantity_per_item)

Quantity of each item:
item_name
6 Pack Soft Drink                         55
Barbacoa Bowl                             66
Barbacoa Burrito                          91
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Barbacoa Soft Tacos                       25
Bottled Water                            211
Bowl                                       4
Burrito                                    6
Canned Soda                              126
Canned Soft Drink                        351
Carnitas Bowl                             71
Carnitas Burrito                          60
Carnitas Crispy Tacos                      8
Carnitas Salad                             1
Carnitas Salad Bowl                        6
Carnitas Soft Tacos                       40
Chicken Bowl                             761
Chicken Burrito                          591
Chicken Crispy Tacos                      50
Chicken Salad                              9
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Chips                                    230
Chips and Fresh Tomato Salsa             130
Chips and Guacamole                      506
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        23
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     45
Chips and Tomatillo Red Chili Salsa       50
Chips and Tomatillo-Green Chili Salsa     33
Chips and Tomatillo-Red Chili Salsa       25
Crispy Tacos                               2
Izze                                      20
Nantucket Nectar                          29
Salad                                      2
Side of Chips                            110
Steak Bowl                               221
Steak Burrito                            386
Steak Crispy Tacos                        36
Steak Salad                                4
Steak Salad Bowl                          31
Steak Soft Tacos                          56
Veggie Bowl                               87
Veggie Burrito                            97
Veggie Crispy Tacos                        1
Veggie Salad                               6
Veggie Salad Bowl                         18
Veggie Soft Tacos                          8
Name: quantity, dtype: int64

**2. Most ordered item in the choice_description column**

In [38]:
# Filter out rows where choice_description is not 'No description'
filtered_chipotle_df = chipotle_df[chipotle_df['choice_description'] != 'No description']

# Find the most ordered item in the choice_description column
most_ordered_item = filtered_chipotle_df['choice_description'].mode().iloc[0]
print("Most ordered item in the choice_description column (excluding 'No description'): ", most_ordered_item)

Most ordered item in the choice_description column (excluding 'No description'):  [Diet Coke]

**3.How many items were ordered in total?**

In [39]:
total_items_ordered = cleaned_chipotle_df['quantity'].sum()
print("Total number of items ordered:", total_items_ordered)

Total number of items ordered: 4972

**4. Revenue for the period in the dataset**

In [41]:

total_revenue = (cleaned_chipotle_df['quantity'] * cleaned_chipotle_df['item_price']).sum()
print("Revenue for the period in the dataset:", total_revenue)

Revenue for the period in the dataset: 39237.02

**5.How many orders were made in the period?**

In [42]:
total_orders = cleaned_chipotle_df['order_id'].nunique()
print("Number of orders made in the period:", total_orders)

Number of orders made in the period: 1834

 **6. Average revenue amount per order**

In [43]:
average_revenue_per_order = total_revenue / total_orders
print("Average revenue amount per order:", average_revenue_per_order)

Average revenue amount per order: 21.39423118865867

**7. Number of different items sold**

In [44]:
unique_items_sold = cleaned_chipotle_df['item_name'].nunique()
print("Number of different items sold:", unique_items_sold)

Number of different items sold: 50